<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
  </head>
  <body>
    <div>
        <div id="app">... app not render yet</div>
        <%- body %>
    </div>
    <script type="module" src="/frontend.js"></script>
  </body>
</html>
